.header-container {
  width: 100%;
  height: 100%;
  grid-column: 3 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 20px;
}

.filter-input {
  grid-column: 1 / 7;
}

.update-button {
  grid-column: 7 / 9;
}

.check-all-button {
  grid-column: 9 / -1;
}
